:root{
    --cor_principal: white;
    --cor_secundaria: rgb(0, 0, 170);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Montserrat', sans-serif;
    color: var(--cor_secundaria);
    background-color: var(--cor_principal);
}

h1{
    font-size: 1.6rem;
}

p{
    font-size: 1.2rem;
    color: black;
}

a{
    text-decoration: none;
}

section{
    width: 100vh;
}
/* MENU */
.menu-in{
    background: rgb(70, 77, 77);
    position: fixed;
    width: 100%;
    border-bottom: 0.1px solid var(--cor_principal);
}
.menu{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.menu a img{
    width: 6rem;
    height: 3.5rem;
    margin-left: 1rem;
}
.menu ul {
    list-style: none;
    display: flex;
}
.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.6rem;
    color: var(--cor_principal);
    position: relative;
}
.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.18rem;
    background: rgb(177, 93, 255);
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
} 
/* INTRODUCAO */

/* IDENTIDADE VISUAL */

/* SOBRE NOS */

/* RESPONSIVIDADE */
