:root{
    --cor_principal: white;
    --cor_secundaria: rgb(0, 0, 170);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Montserrat', sans-serif;
    color: var(--cor_secundaria);
    background-color: var(--cor_principal);
}

h1{
    font-size: 1.6rem;
}

p{
    font-size: 1.2rem;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

section{
    width: 100vh;
}

.hr {
    border: 0;
    border-top: 1px solid var(--cor_secundaria);
    margin-top: auto;
    
  }

.divisao {
    height: 1px;
    background: linear-gradient(
      100deg,
      hsl(var(--corPadrao)),
    );
  }

/* ---------------------------------------- MENU ----------------------------------------  */
a:hover{
    background: rgba(99, 100, 100, 0.486);
}
#header img{
    height: 4rem;
    width: 8rem;
}
#header{
    z-index: 1;
    position: fixed;
    margin-top: -6rem;
    width: 100%;
    background-color: rgb(84, 87, 87);
    height: 5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu{
    display: flex;
    list-style: none;
    gap: 3rem;
    margin-right: 2rem;
}
#menu a {
    color: var(--cor_principal);
    display: block;
    padding: 0.05rem;
    font-size: 1.5rem;
}
#btn-mobile{
    display: none;
}

/* ----------------------------------------  INTRODUCAO ----------------------------------------  */

#home .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;

  }
  
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
   
  }
  
  .grid {
    display: inline;
    gap: 1.5rem;
  }
  
  .section {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .section .title {
    margin-bottom: 1rem;
  }
  
  #home {
    overflow: hidden;
    margin-top: 6rem;
    text-align: center;
  }
  
  #home .container {
    margin: 0;
  }
  
  #home .image {
    margin-top: auto;
    position: relative;
  }  
  
  #home .image img {
    margin-top: auto;
    position: relative;
  }
  
  #home .text {
    margin-top: auto;
    text-align: center;
  }
  
  #home .text p {
    margin-bottom: 2rem;
  }

/* ----------------------------------------  IDENTIDADE VISUAL ----------------------------------------  */

#identidade{
    position: relative;
    margin-top: auto;
    text-align: center;
}
#paragrafoIV{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: black;
    margin-top: 1rem;
}

#paragrafo2IV{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: black;
    margin-top: 2rem;
}

.identidadeT{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(0,0,170);
}

.linha{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;   
}

.coluna{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    margin-left: auto;
    margin-right: auto;
    
}

.coluna img{
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
}

/* ----------------------------------------  SOBRE NOS ----------------------------------------  */
#sobre-nos{
    position: relative;
    text-align: center;
    margin-top: auto;
  }

  #sobre-nos .text {
    margin-top: auto;
    text-align: center;
  }
  
  #equipes .container {
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 4rem 1rem;
  }
  
  .swiper-button-prev {
    color: var(--cor_secundaria);
  }
  .swiper-button-next {
    color: var(--cor_secundaria);
  }
  #equipe blockquote {
    padding: 2rem;
    width: 80%;
  
    position: relative;
    text-indent: 1.875rem;
    margin-bottom: 1.5rem;
    box-shadow: 0px 0px 12px;
  }
  
  #equipe blockquote p {
    position: relative;
    text-indent: 1.875rem;
    margin-bottom: 1.5rem;
    color: #000;
  }
  
  #equipe blockquote p span {
    font: 700 3rem serif;
    position: absolute;
    top: -0.5rem;
    left: -1.875rem;
    color: var(--cor_secundaria);
  }
  
  #equipe cite {
    display: flex;
    align-items: center;
    font-style: normal;
  }
  
  #equipe cite img {
    width: 2rem;
    height: 2rem;
    clip-path: circle();
  }
/* ----------------------------------------  FOOTER ----------------------------------------  */
  footer{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

/* ----------------------------------------  RESPONSIVIDADE ----------------------------------------  */
@media(max-width: 650px) {
    #btn-mobile{
        display:inline;
    }
    #menu{
        display: block;
        position: absolute;
        background: silver;
        width: 100%;
        top: 5rem;
        right: -2rem;
        height: 0;
        transition: .6s;
        z-index: 100;
        visibility: hidden;
        overflow-y: hidden
    }
    #nav.active #menu{
        height: calc(100vh - 5rem);
        visibility: visible;
        overflow-y: auto;
        color: var(--cor_secundaria);
        text-align: center;
    }
    #menu a{
        padding: 1.5rem 0rem;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(48, 46, 46, 0.05);
    }
    #btn-mobile{
        display: flex;
        border: none;
        cursor: pointer;
        background: none;
        padding: 0.5rem 1rem;
        font-size: 1.6rem;
        gap: 0.5rem;
    }
    #iconn{
        border-top: 2px solid;
        color: var(--cor_principal);
    }
    #iconn::after, #iconn::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;   
        position: relative;     
    }
    #nav.active #iconn{
        border-top-color: transparent;
    }
    #nav.active #iconn::before{
        transform: rotate(135deg);
    }
    #nav.active #iconn::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}

 /* Responsividade da identidade visual*/
  @media screen and (max-width: 800px) {

    .section{
        max-width: 100%;
        margin-top: auto;
    }

    .coluna{
        flex: 50%;
        max-width: 50%;
    }
    
    #sobre-nos{
      display: grid;
      grid-auto-flow: column;
    }

    #home{
      display: grid;
      grid-auto-flow: column;
    }
}


@media screen and (max-width: 600px){

    .coluna{
        flex: 80%;
        max-width: 80%;
    }
}